* {
  margin: 0;
  padding: 0;
  /* border: 1px solid */
}

body {
  height: 100%;
  width: 100%;
  border: 2px solid;
  position: relative;
  display: grid;
  background-color: green;
  grid-template-columns: 4fr 1fr;
}

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  padding: .5rem;
  padding-left: 1rem;
  display: flex;
  justify-content: start;
  align-items: center;
  z-index: 1000;
  border: 1px solid blue;
  /* Ensure it stays above other elements */
}

.player-transition {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: green;
  z-index: 4;
  border: orangered;
}

.player-transition h2 {
  margin: 1em;
  color: #F0D1AB;
}

#overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 0, 0);
  z-index: 2;
  border: 2px solid blue;
}

.kitty-card {
  max-height: 4em;
  max-width: 2em;
}

.msgbox {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 45%;
  left: 40%;
  font-size: 3em;
  color: #e5a11e;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 2px solid rgba(0, 128, 0, 0.5);
  background-color: #775b35;
  border-color: #e5a11e;
}

.msgbox * {
  margin: 0.1em;
}

.bid-trump-buttons {
  display: flex;
}

.choose-trump-buttons {
  display: flex;
}

.set-button {
  height: 1.5em;
  width: 4.5em;
  margin: 0 auto;
  vertical-align: middle;
}

.game-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  background-color: green;
  margin-bottom: 4rem;
}

.table-center {
  position: absolute;
  /* Position in the middle of the grid */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12rem;
  height: 12rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: end;
}

#center-card-0 {
  grid-area: 2 / 1;
}

#center-card-1 {
  grid-area: 1 / 1;
}

#center-card-2 {
  grid-area: 1 / 2;
}

#center-card-3 {
  grid-area: 2 / 2;
}

.player-space {
  display: grid;
  grid-template-areas:
    "trickl content trickr";
  grid-template-columns: auto 1fr auto;
  justify-content: center;
  /* border: 1px solid; */
  align-items: center;
}

.player h2 {
  text-align: center;
  color: #f0d1ab;
}

.player {
  height: 60%;
  width: 100%;
  grid-area: content;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.top {
  align-self: top;
}

.bottom {
  align-self: end;
}

.current-player-card {
  max-height: 8.1em;
  max-width: 4.1em;
  margin: .5em;
  border-radius: 5px;
  border: 1px solid;
  transition: box-shadow 0.3s ease;
}

.tricks-won {
  display: flex;
  flex-direction: column;
  width: 7rem;
  height:80%;
  border:1px solid purple;
}

.tricks-won.left {
  grid-area: trickl;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: .5rem;
  margin-top:3.5rem;
  padding-bottom:-1rem;
  justify-content: bottom;

}

.tricks-won.right {
  grid-area: trickr;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: .5rem;
  margin-top:3.5rem;
  padding-bottom:-1rem;
  justify-content: bottom;

}

.card-pile {
  max-height: 8em;
  max-width: 4em;
  transform: rotate(90deg);
  margin: -1rem;
}

.card {
  max-height: 8.1em;
  max-width: 4.1em;
  margin: .5em;
  border-radius: 5px;
}

.current-player-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.player-image {
  max-height: 8em;
  max-width: 12em;
}

/* Position players around the table */
#player-1 {
  grid-area: 1 / 1;
}

#player-2 {
  grid-area: 1 / 2;
}

#player-3 {
  grid-area: 2 / 2;
}

#player-4 {
  grid-area: 2 / 1;
}

.game-stats {
  float: right;
  display: block;
  border: 1px solid;
  border-radius: 10px;
  background-color: #f0d1ab;
  margin: 1rem;
  position: relative;
}

.game-stats * {
  padding: 1em;
}

.dent {
  text-indent: 2em;
}

.again-button {
  margin: 1em;
  border: 1px solid;
  height: auto;
}

button {
  background-color: #F0D1AB;
  margin: 0px;
  color: black;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: 'Times New Roman', Times, serif
    /* Smooth background transition */
}

button:hover {
  background-color: tan;
  /* Darker green on hover */
}