* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  /* background-color: orange; */
  height: 100%;
  width: 100%;
  border: 2px solid;
  position: relative;
}

/* html {
  background-color: green;
  height: 100;
} */

.topbar {
  display: flex;
}

.player-transition {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 75, 0);
  z-index: 4;
  border: orangered;
}

#overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 128, 0, 0);
  z-index: 2;
  border: 2px solid blue;
}

.msgbox {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3em;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  border: 2px solid red;
  background-color: rgba(0,128,0,0.5);
}
.game-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  justify-items: center;
  align-items: center;
  height: 90vh;
  position: relative;
  float: left;
  background-color: green;
  border: 3px solid orange;
}

.table-center {
  position: absolute;
  /* Position in the middle of the grid */
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20%;
  /* Set a specific width for the center area */
  height: 30%;
  /* Set a specific height for the center area */
  background-color: green;
  ;
  /* A light background to represent the card space */
  /*border-radius: 10px;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

#center-card-1 {
  grid-area: 2 / 1;
}

#center-card-2 {
  grid-area: 1 / 1;
}

#center-card-3 {
  grid-area: 1 / 2;
}

#center-card-4 {
  grid-area: 2 / 2;
}

.player-space {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 400px;
  margin: 0em;
  border: 1px solid;
}

.player-space h2 {
  color: white;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.current-player-card {
  max-height: 8em;
  max-width: 4em;
  margin: 1em;
  border-radius: 5px;
  border: 1px solid;
  transition: box-shadow 0.3s ease;
}

.card-pile {
  max-height: 9em;
  max-width: 5em;
  margin: 1em;
}

.card {
  max-height: 8em;
  max-width: 4em;
  margin: 1em;
  border-radius: 5px;
}

.current-player-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.player-image {
  max-height: 8em;
  max-width: 12em;
}

/* Position players around the table */
#player-1 {
  grid-area: 1 / 1;
}

#player-2 {
  grid-area: 1 / 2;
}

#player-3 {
  grid-area: 2 / 2;
}

#player-4 {
  grid-area: 2 / 1;
}

.game-stats {
  float: right;
  display: block;
  border: 1px solid;
  border-radius: 10px;
  background-color: burlywood;
  margin: 1em;
  width: 25%;
  height: 100%;
  position: relative;
}

.game-stats * {
  padding: 1em;
}

.temporary-button {
  margin: 1em;
  border: 1px solid;
  height: 20%;
}

.tricks-won {
  display: inline;
}

.dent {
  text-indent: 4em;
}