<div class="game-table">
  <div class="table-center">
    @if(cardsPlayedThisRound) {
    @for(card of cardsPlayedThisRound; track card.photo) {
    <img src="photos/deck/{{ card.photo }}">
    }
    }
  </div>
  @for(player of this.players; track player.index) {
  <div class="player-space" id="player-{{player.index}}">
    <p>Player {{player.index + 1 }}: {{ this.players[player.index].name }}</p>
    <img src="https://media.tenor.com/wQZdn6U1RoQAAAAM/dance-happy.gif" alt="The dancing baby GIF" class="player-image">
    <div class="cards">
      @if(player === this.currentPlayer) {
      @for(card of round.hands[player.index]; track card.photo){
      <img src="photos/deck/{{ card.photo }}" alt="Something went wrong" class="current-player-card"
        (click)="playCard(card)">
      }
      }
      @else {
      @for(card of round.hands[player.index]; track card.photo) {
      <img src="photos/deck/{{ card.photo }}" alt="something went wrong" class="card">
      }
      }
    </div>
  </div>
  }
</div>
<div class="game-stats">
  <h2>Game Stats</h2>
  <p>Team 1 Score: 0</p>
  <p>Team 2 Score: 0</p>
  <p>[Suit] is trump</p>
  <p>{{ this.currentPlayer.name }} is the dealer</p>
  <p>Rick Astley called trump</p>
</div>