<body>
  <div>
    <h1> Euchre, by Lexemwellio</h1>
  </div>
  <div class="new-game">
    <h3>Create New Game</h3>
    <form [formGroup]="playerForm" (ngSubmit)="startGame()">
      <table>

        <tbody>
          <tr>
            <th colspan="1">Team 1</th>
            <th colspan="1">Team 2</th>
          </tr>
          <tr>
            <!-- Player 1 (Team 1, Row 1) -->
            <td>
              <div class="player-entry">
                <label for="player0">Player 1:</label>
                <input type="text" id="player0" formControlName="player0" placeholder="Enter name for Player 1" />
                <button type="button" (click)="useBot()">Use Bot Player</button>
              </div>
            </td>
            <!-- Player 2 (Team 2, Row 1) -->
            <td>
              <div class="player-entry">
                <label for="player1">Player 2:</label>
                <input type="text" id="player1" formControlName="player1" placeholder="Enter name for Player 2" />
                <button type="button">Use Bot Player</button>
              </div>
            </td>
          </tr>
          <tr>
            <!-- Player 3 (Team 1, Row 2) -->
            <td>
              <div class="player-entry">
                <label for="player2">Player 3:</label>
                <input type="text" id="player2" formControlName="player2" placeholder="Enter name for Player 3" />
                <button type="button">Use Bot Player</button>
              </div>
            </td>
            <!-- Player 4 (Team 2, Row 2) -->
            <td>
              <div class="player-entry">
                <label for="player3">Player 4:</label>
                <input type="text" id="player3" formControlName="player3" placeholder="Enter name for Player 4" />
                <button type="button">Use Bot Player</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>


      <button type="submit" [disabled]="!playerForm.valid">Start Game</button>
    </form>
  </div>

  <h3>OR</h3>

  <div class="old-game">
    <h3>Continue Previous Game</h3>

    <select [(ngModel)]="selectedGameId" class="game-container">
      @for(game of this.gameList; track game.timestamp) {
      <option [value]="game.gameId">
        {{ formatGameDisplay(game) }}
      </option>
      }
    </select>
    <button type="button" (click)="continueGame()" [disabled]="!selectedGameId">Continue Game</button>
  </div>
  <!--

  <div class="old-game">
    <h3>Continue Previous Game</h3>
    <mat-form-field>
      <mat-label>Game</mat-label>
      <mat-select [(ngModel)]="selectedGameId">
        @for ( game of this.gameList; track game.timestamp) {
        <mat-option [value]="game.gameId">
          {{ formatGameDisplay(game) }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="continueGame()" [disabled]="!selectedGameId">
      Continue Game
    </button>
  </div> -->

</body>